html {
  height: 100%;
}
body {
  background-color: #ecf0f1;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
h1.title {
  margin: 15px;
  font-size: 2em;
  text-decoration: none;
}
h1.title span.title_lt {
  color: #2A558C;
}
@media (max-width: 1000px) {
  h1.title {
    font-size: 1.3em;
    text-align: center;
  }
}
@media (max-width: 550px) {
  h1.title {
    font-size: 1.3em;
    text-align: center;
    margin: 8px;
  }
}
b {
  font-weight: 800;
}
a {
  color: inherit;
  text-decoration: underline;
}
.center {
  text-align: center;
}
header {
  background-color: #ecf0f1;
  color: #111111;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  transition: transform 0.55s ease-in-out;
}
header.headroom--unpinned {
  /* display: none; */
  transform: translateY(-200px);
}
header.headroom--pinned {
  /* display: block; */
  transform: translateY(0);
}
header nav {
  display: block;
  text-align: center;
}
header nav ul {
  margin: 20px;
  padding: 0;
  display: block;
}
@media (max-width: 550px) {
  header nav ul {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
header nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #111111;
}
header nav ul li.active,
header nav ul li:hover {
  color: #2A558C;
}
header nav ul li a {
  display: block;
  padding: 0 14px;
  text-decoration: none;
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  header nav ul li a {
    font-size: 0.8em;
    padding: 0 6px;
  }
}
@media (max-width: 550px) {
  header nav ul li a {
    font-size: 0.8em;
    padding: 0 4px;
  }
}
div.contentblock p {
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  div.contentblock p {
    font-size: 1em;
  }
}
div.contentblock.first_block {
  margin-top: 100px;
}
div.contentblock.fullheight {
  height: 100%;
}
div.contentblock.intro {
  background: #ecf0f1;
  color: #111111;
}
div.contentblock.intro h2 {
  font-size: 4em;
  font-weight: 300;
}
@media (max-width: 1000px) {
  div.contentblock.intro h2 {
    font-size: 2em;
  }
}
div.contentblock.intro h2 b {
  color: #2A558C;
  font-weight: 600;
}
div.contentblock.pilot {
  background: #0B1226;
  color: #ecf0f1;
}
div.contentblock.engineer,
div.contentblock.fourohfour {
  color: #41FF00;
  background-color: #000000;
  font-family: 'IBM Plex Mono', monospace;
  text-shadow: 0px 0px 4px #41FF00;
}
div.contentblock.posts {
  background: #2A558C;
  color: #ecf0f1;
}
div.contentblock.posts a {
  text-decoration: underline;
}
div.contentblock.connect {
  background: #ecf0f1;
  color: #111111;
}
div.contentblock.connect a {
  text-decoration: underline;
}
div.contentblock.post .container {
  background-color: #ecf0f1;
  color: #111111;
  padding: 50px;
}
@media (max-width: 500px) {
  div.contentblock.post .container {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  div.contentblock.post .container {
    width: 100%;
  }
}
div.contentblock.gallery .container {
  background-color: #ecf0f1;
  color: #111111;
  padding: 50px;
  max-width: 1280px;
}
@media (min-width: 400px) {
  div.contentblock.gallery .container {
    width: 100%;
  }
}
@media (max-width: 400px) {
  div.contentblock.gallery .container {
    padding: 20px;
  }
}
div.contentblock div.contentblock_vcentre {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*Blog post styling*/
.post {
  font-size: 0.95em;
  line-height: 1.7;
}
.post h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  word-spacing: 0.1em;
  border-bottom: 2px solid;
  padding: 0px;
  margin: 0px;
  clear: both;
}
@media (max-width: 500px) {
  .post h1 {
    font-size: 2em;
  }
}
.post h2 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 550px) {
  .post h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 550px) {
  .post h2 {
    font-size: 3rem;
  }
}
.post h3 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 550px) {
  .post h3 {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  .post h3 {
    font-size: 2.5rem;
  }
}
.post h4 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 550px) {
  .post h4 {
    font-size: 2.5rem;
  }
}
@media (max-width: 550px) {
  .post h4 {
    font-size: 2rem;
  }
}
.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post div.codehilite {
  padding: 1px 15px 1px 15px;
  margin-bottom: 1.5em;
}
.post pre {
  overflow: scroll;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
/* Gallery Styling */
.gallery {
  font-size: 0.95em;
  line-height: 1.25;
}
.gallery h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  word-spacing: 0.1em;
  border-bottom: 1px solid;
  border-color: #111111;
  padding: 0px;
  margin: 0px;
  clear: both;
}
@media (max-width: 500px) {
  .gallery h1 {
    font-size: 2em;
  }
}
.gallery h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
.gallery nav {
  display: block;
  text-align: center;
  border-bottom: 1px solid;
  border-color: #111111;
}
.gallery nav ul {
  margin: 10px;
  padding: 0;
  display: block;
}
@media (max-width: 550px) {
  .gallery nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.gallery nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #111111;
  margin-bottom: 0px;
}
.gallery nav ul li button {
  margin-bottom: 0px;
}
/* Gallery */
/* The "show" class is added to the filtered elements */
.button.primary {
  color: #FFF;
  background-color: #2A558C;
  border-color: #2A558C;
}
.button.active,
.button:hover {
  color: #FFF;
  background-color: #2A558C;
  border-color: #2A558C;
}
.item {
  display: none;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 8px;
  padding: 0px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}
.item img {
  border-radius: 8px 8px 0px 0px;
}
.item .inner {
  padding: 16px 12px;
}
.item:first-child {
  margin-left: 12px;
}
.item:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}
.item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #2A558C;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}
.item:hover:before {
  transform: scale(2.15);
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #2A558C;
  border-radius: 0 4px 0 32px;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.show {
  display: block;
}
