html {
  height: 100%;
}
body {
  background-color: #ecf0f1;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
h1.title {
  margin: 10px;
  font-size: 2em;
  text-decoration: none;
}
h1.title span.title_lt {
  color: #2A558C;
}
@media (max-width: 1000px) {
  h1.title {
    font-size: 1.3em;
    text-align: center;
  }
}
@media (max-width: 550px) {
  h1.title {
    font-size: 1.3em;
    text-align: center;
    margin: 6px;
  }
}
h2.title {
  font-size: 3em;
  font-weight: 300;
}
@media (max-width: 1000px) {
  h2.title {
    font-size: 2em;
  }
}
b {
  font-weight: 800;
}
a {
  color: inherit;
  text-decoration: underline;
}
.center {
  text-align: center;
}
header {
  background-color: #ecf0f1;
  color: #111111;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  transition: transform 0.55s ease-in-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
header.headroom--unpinned {
  /* display: none; */
  transform: translateY(-100%);
}
header.headroom--pinned {
  /* display: block; */
  transform: translateY(0);
}
header nav {
  display: block;
  text-align: center;
}
header nav ul {
  margin: 20px;
  padding: 0;
  display: block;
}
@media (max-width: 550px) {
  header nav ul {
    margin-top: 0px;
    margin-bottom: 8px;
  }
}
header nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #111111;
  margin-bottom: 0px;
}
header nav ul li.active,
header nav ul li:hover {
  color: #2A558C;
}
header nav ul li a {
  display: block;
  padding: 0 14px;
  text-decoration: none;
  font-size: 1.2em;
}
@media (max-width: 1000px) {
  header nav ul li a {
    font-size: 0.8em;
    padding: 0 6px;
  }
}
@media (max-width: 550px) {
  header nav ul li a {
    font-size: 0.8em;
    padding: 0 4px;
  }
}
div.contentblock p {
  font-size: 1.2em;
  margin-top: 0em;
  margin-bottom: 0.5em;
}
@media (max-width: 1000px) {
  div.contentblock p {
    font-size: 1em;
  }
}
div.contentblock ul {
  font-size: 1.2em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  margin-left: 2em;
}
@media (max-width: 1000px) {
  div.contentblock ul {
    font-size: 1em;
  }
}
div.contentblock li {
  margin-bottom: 0em;
}
div.contentblock.intro {
  background: #ecf0f1;
  color: #111111;
}
div.contentblock.intro h2 {
  font-size: 4em;
  font-weight: 300;
}
@media (max-width: 1000px) {
  div.contentblock.intro h2 {
    font-size: 2em;
  }
}
div.contentblock.intro h2 b {
  color: #2A558C;
  font-weight: 600;
}
div.contentblock.about {
  background: #0B1226;
  color: #ecf0f1;
}
div.contentblock.projects {
  background-color: #111111;
  color: #ecf0f1;
  padding: 50px;
}
@media (max-width: 500px) {
  div.contentblock.projects {
    padding: 20px;
  }
}
@media (min-width: 400px) {
  div.contentblock.projects {
    width: 100%;
  }
}
div.contentblock.posts {
  background: #2A558C;
  color: #ecf0f1;
  padding: 50px;
}
@media (max-width: 500px) {
  div.contentblock.posts {
    padding: 20px;
  }
}
@media (min-width: 400px) {
  div.contentblock.posts {
    width: 100%;
  }
}
div.contentblock.connect {
  background: #ecf0f1;
  color: #111111;
}
div.contentblock.connect a {
  text-decoration: underline;
}
div.contentblock.fourohfour {
  color: #41FF00;
  background-color: #000000;
  font-family: 'IBM Plex Mono', monospace;
  text-shadow: 0px 0px 4px #41FF00;
}
div.contentblock.post {
  font-size: 0.95em;
  line-height: 1.7;
}
div.contentblock.post h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  word-spacing: 0.1em;
  border-bottom: 2px solid;
  padding: 0px;
  margin: 0px;
  clear: both;
}
@media (max-width: 500px) {
  div.contentblock.post h1 {
    font-size: 2em;
  }
}
div.contentblock.post h2 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 550px) {
  div.contentblock.post h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 550px) {
  div.contentblock.post h2 {
    font-size: 3rem;
  }
}
div.contentblock.post h3 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 550px) {
  div.contentblock.post h3 {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  div.contentblock.post h3 {
    font-size: 2.5rem;
  }
}
div.contentblock.post h4 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 550px) {
  div.contentblock.post h4 {
    font-size: 2.5rem;
  }
}
@media (max-width: 550px) {
  div.contentblock.post h4 {
    font-size: 2rem;
  }
}
div.contentblock.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.contentblock.post div.codehilite {
  padding: 1px 15px 1px 15px;
  margin-bottom: 1.5em;
}
div.contentblock.post pre {
  overflow: scroll;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
div.contentblock.post .container {
  background-color: #ecf0f1;
  color: #111111;
  margin-top: 60px;
  padding: 50px;
}
@media (max-width: 500px) {
  div.contentblock.post .container {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  div.contentblock.post .container {
    width: 100%;
  }
}
div.contentblock.aboutme {
  font-size: 0.95em;
  line-height: 1.7;
}
div.contentblock.aboutme h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  word-spacing: 0.1em;
  border-bottom: 2px solid;
  padding: 0px;
  margin: 0px;
  clear: both;
}
@media (max-width: 500px) {
  div.contentblock.aboutme h1 {
    font-size: 2em;
  }
}
div.contentblock.aboutme h2 {
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 550px) {
  div.contentblock.aboutme h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 550px) {
  div.contentblock.aboutme h2 {
    font-size: 3rem;
  }
}
div.contentblock.aboutme h3 {
  text-align: center;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
@media (min-width: 550px) {
  div.contentblock.aboutme h3 {
    font-size: 3rem;
  }
}
@media (max-width: 550px) {
  div.contentblock.aboutme h3 {
    font-size: 2.5rem;
  }
}
div.contentblock.aboutme h4 {
  text-align: center;
  font-weight: 300;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
@media (min-width: 550px) {
  div.contentblock.aboutme h4 {
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  div.contentblock.aboutme h4 {
    font-size: 1.5rem;
  }
}
div.contentblock.aboutme img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.contentblock.aboutme div.codehilite {
  padding: 1px 15px 1px 15px;
  margin-bottom: 1.5em;
}
div.contentblock.aboutme pre {
  overflow: scroll;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
div.contentblock.aboutme .container {
  background-color: #ecf0f1;
  color: #111111;
  margin-top: 60px;
  padding: 50px;
}
@media (max-width: 500px) {
  div.contentblock.aboutme .container {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  div.contentblock.aboutme .container {
    width: 100%;
  }
}
div.contentblock.gallery {
  font-size: 0.95em;
  line-height: 1.25;
}
div.contentblock.gallery h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  word-spacing: 0.1em;
  border-bottom: 1px solid;
  border-color: #bfbfbf;
  padding: 0px;
  margin: 0px;
  clear: both;
}
@media (max-width: 500px) {
  div.contentblock.gallery h1 {
    font-size: 2em;
  }
}
div.contentblock.gallery h3 {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
div.contentblock.gallery p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
div.contentblock.gallery p.small {
  font-size: 14px;
}
div.contentblock.gallery nav {
  display: block;
  text-align: center;
  border-bottom: 1px solid;
  border-color: #bfbfbf;
}
div.contentblock.gallery nav ul {
  margin: 5px;
  padding: 0;
  display: block;
}
div.contentblock.gallery nav ul li {
  display: inline-block;
  list-style-type: none;
  color: #111111;
  margin-top: 5px;
  margin-bottom: 5px;
}
div.contentblock.gallery nav ul li button {
  margin-bottom: 0px;
}
div.contentblock.gallery .container {
  margin-top: 60px;
  background-color: #ecf0f1;
  color: #111111;
  padding: 50px;
  max-width: 1280px;
}
@media (max-width: 500px) {
  div.contentblock.gallery .container {
    padding: 20px;
  }
}
@media (min-width: 400px) {
  div.contentblock.gallery .container {
    width: 100%;
  }
}
div.contentblock.gallery .button.primary {
  color: #FFF;
  background-color: #2A558C;
  border-color: #2A558C;
}
div.contentblock.gallery .button.active,
div.contentblock.gallery .button:hover {
  color: #FFF;
  background-color: #2A558C;
  border-color: #2A558C;
}
@media (max-width: 580px) {
  div.contentblock.gallery .button {
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
  }
}
div.contentblock div.contentblock_vcentre {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.item {
  color: #111111;
  display: none;
  padding: 0px;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
}
.item .img_wrapper {
  position: relative;
  width: 100%;
  /* The size you want */
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}
.item .img_wrapper:after {
  content: "";
  display: block;
  padding-bottom: 50%;
  /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.item img {
  position: absolute;
  /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Make the picture taking the size of it's parent */
  width: 100%;
  /* This if for the object-fit */
  height: 100%;
  /* This if for the object-fit */
  object-fit: cover;
  /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
  transform: scale(1.05);
}
.item .inner {
  width: 100%;
  padding: 0px 6px 6px 15px;
}
.item:first-child {
  margin-left: 1.33333333%;
}
.item:hover {
  transition: all 0.4s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  background-color: white;
}
.item:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}
.item:hover:before {
  transform: scale(2.15);
}
.show {
  display: block;
}
@media (max-width: 580px) {
  .front.img_wrapper:after {
    padding-bottom: 0;
  }
}
.four.columns.item {
  margin: 2% 1.33333333% 0%;
}
@media (max-width: 750px) {
  .four.columns.item {
    width: 47.3333333%;
  }
}
@media (max-width: 580px) {
  .four.columns.item {
    width: 100%;
    margin: 3% 0 0;
  }
}
