@blue: @blue3;
@lightgrey: #bfbfbf;
@mediumgrey: #4B4B4B;
@darkgrey: #111111;
@white: #ecf0f1;

@blue1: #0B1226;
@blue2: #1B3059;
@blue3: #2A558C;

// Applies everywhere
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: @white;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

// Text
h1.title{
  margin: 10px;
  font-size: 2em;
  text-decoration: none;
  span.title_lt{
    color: @blue;
  }
  @media (max-width: 1000px) {font-size: 1.3em; text-align: center;}
  @media (max-width: 550px) {font-size: 1.3em; text-align: center;margin:6px;}
}
h2.title{
  font-size: 3em;
  font-weight: 300;
  @media (max-width: 1000px) {font-size: 2em;}
}
b{
  font-weight: 800;
}
a{
  color: inherit;
  text-decoration: underline;
}
.center{
  text-align: center;
}

// Header
header{
  background-color: @white;
  color: @darkgrey;
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  transition: transform 0.55s ease-in-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  &.headroom--unpinned{
    /* display: none; */
    transform: translateY(-100%);
  }
  &.headroom--pinned{
    /* display: block; */
    transform: translateY(0);
  }
  nav {
    display: block;
    text-align: center;
    ul {
      margin: 20px;
      padding: 0;
      display: block;
      @media (max-width: 550px) {margin-top: 0px; margin-bottom: 8px;}
      li {
        display: inline-block;
        list-style-type: none;
        color: @darkgrey;
        margin-bottom: 0px;
        &.active, &:hover{
          // text-decoration: underline @blue;
          color: @blue3;
        }
        a {
          display: block;
          padding: 0 14px;
          text-decoration: none;
          font-size: 1.2em;
          @media (max-width: 1000px) {font-size: 0.8em; padding: 0 6px;}
          @media (max-width: 550px) {font-size: 0.8em; padding: 0 4px;}
        }
      }
    }
  }
}

// CONTENTBLOCK (used everywhere pretty much)
div.contentblock{
  // padding: 30px;
  p{
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    @media (max-width: 1000px) {font-size: 1em;}
  }
  ul{
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    @media (max-width: 1000px) {font-size: 1em;}
  }
  li{
    margin-bottom: 0em;
  }

  // Hello, I'm Easton Potokar page
  &.intro{
    background: @white;
    color: @darkgrey;
    h2{
      @media (max-width: 1000px) {font-size: 2.0em;}
      font-size: 4em;
      font-weight: 300;
      b{
        color: @blue;
        font-weight: 600;
      }
    }
  }

  // My about me page
  &.about{
    color: @white;
    background: url('/static/img/byu.jpg');
    background-color: @mediumgrey;
    background-size: cover;
    background-blend-mode: multiply;
  }

  // Projects page
  &.projects{
    background-color: @darkgrey;
    color: @white;
    padding: 50px;
    // max-width: 1280px;
    @media (max-width: 500px) {padding: 20px;}
    @media (min-width: 400px) {width: 100%;}
  }

  //post page
  &.posts{
    background: @blue;
    color: @white;
    padding: 50px;
    // max-width: 1280px;
    @media (max-width: 500px) {padding: 20px;}
    @media (min-width: 400px) {width: 100%;}
  }

  //connect page
  &.connect{
    background: @white;
    color: @darkgrey;
    a{
      text-decoration: underline;
    }
  }

  // Missing page
  &.fourohfour{
    color: #41FF00;
    background-color: #000000;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: 0px 0px 4px #41FF00;
  }

  // Styles the blog posts how I like
  &.post{
    font-size: 0.95em;
    line-height: 1.7;
    h1{
      text-transform: uppercase;
      font-size: 3em;
      text-align: center;
      word-spacing: 0.1em;
      border-bottom: 2px solid;
      padding:0px;
      margin:0px;
      clear: both;
      @media (max-width: 500px) {font-size: 2em;}
    }
    h2{
      @media (min-width: 550px) {font-size: 3.5rem;}
      @media (max-width: 550px) {font-size: 3rem;}
      margin-top: 0rem;
      margin-bottom: 0.5rem;
    }
    h3{
      @media (min-width: 550px) {font-size: 3rem;}
      @media (max-width: 550px) {font-size: 2.5rem;}
      margin-top: 0rem;
      margin-bottom: 0.5rem;
    }
    h4{
      @media (min-width: 550px) {font-size: 2.5rem;}
      @media (max-width: 550px) {font-size: 2rem;}
      margin-top: 0rem;
      margin-bottom: 0.5rem;
    }
    img{
      max-width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    div.codehilite{
      padding: 1px 15px 1px 15px;
      margin-bottom: 1.5em;
    }
    pre{
      // white-space: pre-wrap;
      overflow: scroll;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
    // Cleans up posts and about me page
    .container{
      background-color: @white;
      color: @darkgrey;
      margin-top: 60px;
      padding: 50px;
      @media (max-width: 500px) {padding: 20px;}
      @media (max-width: 500px) {width: 100%;}
    }
  }

  // Styles the blog posts how I like
  &.aboutme{
    font-size: 0.95em;
    line-height: 1.7;
    h1{
      text-transform: uppercase;
      font-size: 3em;
      text-align: center;
      word-spacing: 0.1em;
      border-bottom: 2px solid;
      padding:0px;
      margin:0px;
      clear: both;
      @media (max-width: 500px) {font-size: 2em;}
    }
    h2{
      @media (min-width: 550px) {font-size: 3.5rem;}
      @media (max-width: 550px) {font-size: 3rem;}
      font-weight: 500;
      margin-top: 0rem;
      margin-bottom: 0.5rem;
    }
    h3{
      text-align: center;
      font-weight: 500;
      @media (min-width: 550px) {font-size: 3rem;}
      @media (max-width: 550px) {font-size: 2.5rem;}
      margin-top: 0.5rem;
      margin-bottom: 0rem;
    }
    h4{
      text-align: center;
      font-weight: 300;
      @media (min-width: 550px) {font-size: 2rem;}
      @media (max-width: 550px) {font-size: 1.5rem;}
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
    img{
      max-width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    div.codehilite{
      padding: 1px 15px 1px 15px;
      margin-bottom: 1.5em;
    }
    pre{
      // white-space: pre-wrap;
      overflow: scroll;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
    // Cleans up posts and about me page
    .container{
      background-color: @white;
      color: @darkgrey;
      margin-top: 60px;
      padding: 50px;
      @media (max-width: 500px) {padding: 20px;}
      @media (max-width: 500px) {width: 100%;}
    }
  }

  // Handles the styling of the gallery
  &.gallery{
    font-size: 0.95em;
    line-height: 1.25;

    h1{
      text-transform: uppercase;
      font-size: 3em;
      text-align: center;
      word-spacing: 0.1em;
      border-bottom: 1px solid;
      border-color: @lightgrey;
      padding:0px;
      margin:0px;
      clear: both;
      @media (max-width: 500px) {font-size: 2em;}
    }
    h3 {
      // color: #262626;
      font-size: 19px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
      &.small {
        font-size: 14px;
      }
    }
    nav {
      display: block;
      text-align: center;
      ul {
        margin: 5px;
        padding: 0;
        display: block;
        li {
          display: inline-block;
          list-style-type: none;
          color: @darkgrey;
          margin-top: 5px;
          margin-bottom: 5px;
          button{
            margin-bottom: 0px;
          }
        }
      }
      border-bottom: 1px solid;
      border-color: @lightgrey;
    }
    //cleans up any page that includes a gallery
    .container{
      margin-top: 60px;
      background-color: @white;
      color: @darkgrey;
      padding: 50px;
      max-width: 1280px;
      @media (max-width: 500px) {padding: 20px;}
      @media (min-width: 400px) {width: 100%;}
    }
    //Handles all the filtering on the gallery page
    // .button
    .button{
      &.primary{
        color: #FFF;
        background-color: @blue3;
        border-color: @blue3;
      }
      &.active, &:hover{
        color: #FFF;
        background-color: @blue3;
        border-color: @blue3;
      }
      @media (max-width: 580px) {
        padding: 0 15px;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
      }
    }
  }

  //centers home screen
  div.contentblock_vcentre{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}


//This is the styling for the cards
.item{
  color: @darkgrey;
  display: none;
  padding: 0px;
  top: 0px;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
  .img_wrapper {
    position: relative;
    width: 100%; /* The size you want */
    // border-radius: 5px 5px 0px 0px;
    overflow: hidden;
  }
  .img_wrapper:after {
    content: "";
    display: block;
    padding-bottom: 50%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
  }
  img{
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
    transform: scale(1.05);
  }
  .inner{
    width: 100%;
    padding: 0px 6px 6px 15px;
    // height: 0;
    // padding-bottom: 50%;
    // overflow: hidden;
  }
  &:first-child {
    margin-left: (8/6)*1%;
  }
  &:hover {
    transition: all 0.4s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    // border: 1px solid @blue3;
    background-color: white;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  &:hover:before {
    transform: scale(2.15);
  }
}
.show {
  display: block;
}
.front.img_wrapper:after{
  @media (max-width: 580px) {padding-bottom: 0;}
}

//Make the cards shrink the way I like
.four.columns.item{
  margin: 2% (8/6)*1% 0%;
  @media (max-width: 750px) {
    width: 47.3333333%;
  }
  @media (max-width: 580px) {
    width: 100%;
    margin: 3% 0 0;}
}
