{% extends "index.html" %}
{% block title %}Easton Potokar{% endblock %}
{% block content %}
<div id="fullpage">
  <div class="contentblock intro section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="column">
            <h2>I'm Easton Potokar! Scroll to learn more about me</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock pilot section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>I am a masters student at <b>Brigham Young University</b>.</h2>
            <p>My research currently focuses on increasing the speed of
              photonic simulations by leveraging machine learning techniques.
              <a href="/aboutme"><u>Read more about me here</u></a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock engineer section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>Some of my recent projects...</h2>
            {% for project in projects %}
            <p>
              <a href="{{ url_for('project', name=project.path.replace('projects/', '')) }}" class="internal">
                {{ project.title }}
              </a> -
              <small>{{ project.date }}</small>
            </p>
            {% endfor %}
            <p>Or see all projects <a href="/projects">here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock posts section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>Some of my recent thoughts...</h2>
            {% for post in posts %}
            <p>
              <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}" class="internal">
                {{ post.title }}
              </a> -
              <small>{{ post.date }}</small>
            </p>
            {% endfor %}
            <p>Or see all posts <a href="/posts">here</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock connect section">
      <div class="contentblock_vcentre">
        <div class="container">
          <div class="row">
            <div class="twelve columns center">
              <h2>Get in Touch</h2>
              <p>eastonpots@byu.edu</p>
              <p><a href="https://www.linkedin.com/in/epot/">LinkedIn</a></p>
              <p><a href="https://github.com/contagon">GitHub</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
