{% extends "index.html" %}
{% block title %}Easton Potokar{% endblock %}
{% block content %}
<div id="fullpage">
  <div class="contentblock intro section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="column">
            <h2>I'm Easton Potokar! Scroll to learn more about me</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock pilot section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>I am a masters student at <b>Brigham Young University</b>.</h2>
            <p>My research currently focuses on increasing the speed of
              photonic simulations by leveraging machine learning techniques.
              <a href="/aboutme"><u>Read more about me here</u></a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock projects section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>Some of my recent projects...</h2>
          </div>
        </div>
        <div class="row">
          {% for project in projects %}
          <a class="three columns item show" href="{{ url_for('project', name=project.path.replace('projects/', '')) }}">
            <div class="img_wrapper">
              <img src="/static/{{ project.path }}.png">
            </div>
            <div class="inner">
              <h3>{{ project.title }}</h3>
              <p class="small">{{ project.description }}</p>
            </div>
          </a>
          {% endfor %}
          <a class="three columns item show" href="/projects">
            <div class="img_wrapper">
              <img src="/static/img/add_circle.png">
            </div>
            <div class="inner">
              <h3>See All</h3>
              <p class="small">View all my projects by clicking here</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock posts section">
    <div class="contentblock_vcentre">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <h2>Some of my recent posts...</h2>
          </div>
        </div>
        <div class="row">
          {% for post in posts %}
          <a class="three columns item show" href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
            <div class="img_wrapper">
              <img src="/static/{{ post.path }}.png">
            </div>
            <div class="inner">
              <h3>{{ post.title }}</h3>
              <p class="small">{{ post.description }}</p>
            </div>
          </a>
          {% endfor %}
          <a class="three columns item show" href="/posts">
            <div class="img_wrapper">
              <img src="/static/img/add_circle.png">
            </div>
            <div class="inner">
              <h3>See All</h3>
              <p class="small">View all my posts by clicking here</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="contentblock connect section">
      <div class="contentblock_vcentre">
        <div class="container">
          <div class="row">
            <div class="twelve columns center">
              <h2>Get in Touch</h2>
              <p>eastonpots@byu.edu</p>
              <p><a href="https://www.linkedin.com/in/epot/">LinkedIn</a></p>
              <p><a href="https://github.com/contagon">GitHub</a></p>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
