{% extends "index.html" %}
{% block title %}About Me{% endblock %}
{% block description %}About Me Page{% endblock %}
{% set active_page = "posts" %}
{% block content %}
<div class="contentblock gallery first_block">
  <div class="container">
    <div class="row">
      <h2>Posts</h2>
    </div>
    <div class="row" id="myBtnContainer">
      <button class="button button-primary" onclick="filterSelection('all')">All</button>
      <button class="button" onclick="filterSelection('research')">Research</button>
      <button class="button" onclick="filterSelection('personal')">Personal</button>
      <button class="button" onclick="filterSelection('classes')">Classes</button>
    </div>
    <div class="row">
      {% for post in posts %}
      <div class="three columns {{ post.tags }} item">
        <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}" style="text-decoration:none;" class="internal">
          <div class="content">
            <!-- <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%"> -->
            <h4>{{ post.title }}</h4>
            <p>{{ post.description }}</p>
            <small>{{ post.date }}</small>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script src=/static/js/filter.js></script>
{% endblock %}
