{% extends "index.html" %}
{% block title %}About Me{% endblock %}
{% block description %}About Me Page{% endblock %}
{% set active_page = "projects" %}
{% block content %}
<div class="contentblock gallery first_block">
  <div class="container">
    <div class="row">
      <h1>Projects</h1>
    </div>
    <div class="row" id="myBtnContainer">
      <button class="button button-primary" onclick="filterSelection('all')">All</button>
      <button class="button" onclick="filterSelection('research')">Research</button>
      <button class="button" onclick="filterSelection('personal')">Personal</button>
      <button class="button" onclick="filterSelection('classes')">Classes</button>
    </div>
    <div class="row">
      {% for project in projects %}
      <a class="four columns {{ project.tags }} item" href="{{ url_for('project', name=project.path.replace('projects/', '')) }}">
        <h3>{{ project.title }}</h3>
        <!-- <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%"> -->
        <p class="small">{{ project.description }}</p>
        <div class="go-corner" href="#">
          <div class="go-arrow">
            →
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<script src=/static/js/filter.js></script>
{% endblock %}
